body {
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    background: #000;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
}

header, footer {
    flex-basis: 100%;
}

header {
    align-self: flex-start;
    padding-top: 8rem;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
}

.logo, .selection {
    flex-basis: 100%;
}

.logo {
    margin: 1rem 0;
}


.selection {
    text-align: left;
}

header p {
    padding: 1rem 0;
   
}

.category {
    height: 1.5rem;
    width: 7rem;
    outline: 0;
}

footer {
    text-align: center;
    margin: auto;
    padding-top: 1rem;
    box-sizing: border-box;
    align-self: flex-end;
    color: #c2c2c2;
}


/*
/*
/* media query */
@media screen and (min-width: 600px) {
    header {
        align-self: center;
        flex-flow: nowrap;
        justify-content: center;
        align-items: center;
    }

    .logo, .selection {
        flex-basis: 20%;
    }

}

@media screen and (min-width: 1000px) {
    header {
        justify-content: flex-start;
    }

    .logo, .selection {
        flex-basis: 25%;
    }

    .logo {
        padding-left: 3rem;
    }

    footer {
        text-align: left;
        padding-left: 5rem;
    }
}