//
// main SCSS file
//

@import "settings/reset";
@import "settings/_animation";
@import "settings/_fonts";
@import "settings/_variables";
@import "settings/_mixins";
@import "settings/_general";
@import "partials/_header";
@import "partials/_main";
@import "partials/_footer";