.loader {
    height: auto;
    min-height: 2 * $dimension;
    width: auto;
    background: url(../../images/ajax-loader.gif) no-repeat center/$dimension;
}

.articles {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.article {
    flex-basis: 100%;
    display: inline-block;
    height: 3 * $dimension;
    position: relative;

    @include tablet {
        flex-basis: 33%;
    }
    @include desktop {
        flex-basis: 25%;
        background-size: 10rem; 
    }

    &:hover .article-text {
        opacity: 1;
    }
}

.article-text {
    opacity: 0;
    position: absolute;
    bottom: 0;
    background: rgba($bg-color, 0.5);
    padding: 0.5 * $padding;
    transition: opacity 1s ease-in-out;
}